@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body
 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pageContainer {
  width: 100%;
  background-color: #e5e5f7;
  background-image:  radial-gradient(black 0.5px, transparent 0.5px), radial-gradient(black 0.5px, white 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}


.warningSign {
  color: black;
  border: 1px solid darkred;
  background-color: yellow;
  font-size: 12px;
  margin-bottom: 2px;
  padding: 0px 4px;

}

.errorSign {
  color: black;
  border: 1px solid darkred;
  background-color: red;
  font-size: 12px;
  margin-bottom: 2px;
  padding: 0px 4px;

}

@media (max-width: 450px) {
  .form, .page {
    gap: 8px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 451px) {
  .form, .page {
    gap: 8px;
    padding-top: 6px;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 450px) {
  .pageLeft, .pageRight {
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
  }
  
  .pageLeft {
    width: 100%;
  }
  
  .pageRight {
    width: 100%;
  }
}

@media (min-width: 451px) {
  .pageLeft, .pageRight {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }
  
  .pageLeft {
    width: 40%;
  }
  
  .pageRight {
    width: 60%;
  }
}

.labelLeft {
  font: 24px;
  font-weight: bold;
}

.inputBoxLeft {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid black;
  margin: 2px 0px;
  padding: 0 4px;
}

.label {
  font: 20px;
  font-weight: normal;
  margin-right: 6px;
  width: 12px;
}

.listItem {
  font: 20px;
  padding-bottom: 8px;
  font-weight: normal;
  margin-right: 6px;
}

.ingredientBox {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid black;
  padding: 0 4px;
  width: 100%;
}

.inputBox {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid black;
  padding: 0 4px;
  width: 60%;
}

.iWord {
  font: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
}


.inputButton {
  font-size: 12px;
  margin: 0px 0px;
  padding: 0px 1px;
  background-color: lightgrey;
  border: 1px solid grey;
  height: 26px;
}

.addButton {
  font-size: 12px;
  margin: 0px 0px;
  padding: 0px 1px;
  background-color: lightgrey;
  border: 1px solid grey;
  height: 20px;
}

.add {
  font-size: 12px;
  margin: 0px 0x;
  padding: 0px 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  height: 26px;
  line-height: 24px;
}

.modal {
  box-shadow: 0 0 0 9999px rgba(192, 192, 192, 0.5);
}